@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);

html{
  width: 100%;
  min-width: 320px;
}

body{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #444444;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    min-height: 90vh;
}


.item{
    /*width: 33%;*/
    width: 400px;
    height: 400px;

    margin: 0 auto;
    margin-top: 100px;
}

.perspective3d{
    width: 100%;
    height: 100%;
    position: relative;

    /*overflow: hidden;*/
    background: #222;

    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;

    perspective-origin: 50% 50%;
}

.moving_layer{
    width: 100%;
    height: 100%;
    position: absolute;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

}
.moving_inner_layer{
    position: absolute; top: 0px; left: 0px;
    width: 100%;  height: 100%;
}

.bg{
    position: absolute; top: 0px; left: 0px; z-index: 1;
    width: 100%; height: 100%;
    
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    box-shadow: 1px 1px 35px #111;
}




.left_box{
    position: absolute; top: 40px; left: 40px;
    width: 200px; height: 320px; z-index: 2;

    text-align: center;
}

.left_box .left_box_content{
    background: #FFF;
    box-shadow: 1px 1px 15px #111;
    width: 100%; height: 100%;
    padding: .1px;
}

/* logo */
.logo_box{
    width: 120px; height: 120px;
    background: #222; position: relative;
    margin: 20px auto; color: #69ca62;
    border-radius: 50%;
}
.logo_box .circle-1, .logo_box .circle-2 {
    position: absolute;
    box-sizing: border-box;
    width: 126px;
    height: 126px;
    top: -3px;
    left: -3px;
    border-width: 1px;
    border-style: solid;
    border-color: #00a9e0 #00a9e0 #00a9e0 transparent;
    border-radius: 50%;
    -webkit-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
}
.logo_box .circle-2 {
    width: 132px;
    height: 132px;
    top: -6px;
    left: -6px;
    border-color: #00a9e0 transparent #00a9e0 #00a9e0;
}
.logo_box:hover {
  cursor: pointer;
}
.logo_box:hover .circle-1, .logo_box:hover .circle-2 {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.logo_box:hover .circle-2 {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}


.name_box{
    position: absolute; top: 190px; left: 40px;
    width: 200px; height: 320px; z-index: 3;

    text-align: center;
}
.name_box .name{
    font-size: 25px;
    font-weight: 600;
    margin-top: 1px;
    margin-bottom: 1px;
    color: #00a9e0;
}
.name_box .job {
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
}

.name_box .actions {
    margin-top: 10px;
}
.name_box .actions .btn,
.btn {
    display: block;
    padding: 5px;
    width: 120px;
    height: 30px;
    margin: 0 auto 10px auto;
    background: none;
    border: 1px solid #444444;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 600;
    box-sizing: border-box;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #444444; text-align: center;
    text-decoration: none;
}
.name_box .actions .btn:hover,
.btn:hover {
    background: #444444;
    color: #fff;
}


.my_links{
    text-align: center;
}
.my_links a{
    display: inline-block; padding: 3px;
    width: 30px; height: 30px;
    border-radius: 50%;
    border: 1px solid #444444;
    color: #444444; font-size: 20px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.my_links a:hover{
    color: #00a9e0;
    border-color: #00a9e0;
}


.right-menu-wrap{
    position: absolute; 
    text-align: center;
    width: 120px; height: 105px;
}
.skill_1_box{
    top: 40px; left: auto; right: 40px;
    z-index: 5;
}

.skill_2_box{
    top: 146px; left: auto; right: 40px;
    z-index: 3;
}
.skill_3_box{
    top: 252px; left: auto; right: 40px;
    width: 120px; height: 105px; z-index: 4;
}

.skill_box_content{
    position: absolute; top: 0px; left: 0px;
    width: 100%; height: 100%;
    background: #F5E8DF;
    box-shadow: 1px 1px 15px #111;
}

.right-menu{

}
.right-menu a{
    display: block; padding: 15px;
    color: #444; text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.right-menu a .icon{
    font-size: 40px; display: block;
}
.right-menu a .icon-title{
    font-size: 15px; display: block;
}

.right-menu a:hover{
    color: #00a9e0;
    background: #444;
}






/* decahedron*/

.decahedron {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-perspective: 400;
          perspective: 400;
}

.decahedron1 {
  width: 50px;
  height: 50px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.decahedron1.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: rotateX(60deg) rotateZ(-30deg);
          transform: rotateX(60deg) rotateZ(-30deg);
  -webkit-animation: rotate 20s infinite linear;
          animation: rotate 20s infinite linear;
}
.decahedron1.main .circle {
  width: 50px;
  height: 50px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 30px #00A9DF, inset 0 0 30px #00A9DF;
}
.decahedron1.main .circle::before, .decahedron1.main .circle::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 10%;
  height: 10%;
  border-radius: 100%;
  background: #00A9DF;
  box-sizing: border-box;
  box-shadow: 0 0 30px 2px #00A9DF;
}
.decahedron1.main .circle::before {
  -webkit-transform: translateZ(-40px);
          transform: translateZ(-40px);
}
.decahedron1.main .circle::after {
  -webkit-transform: translateZ(40px);
          transform: translateZ(40px);
}
.decahedron1.main .circle:nth-child(1) {
  -webkit-transform: rotateZ(72deg) rotateX(63.435deg);
          transform: rotateZ(72deg) rotateX(63.435deg);
}
.decahedron1.main .circle:nth-child(2) {
  -webkit-transform: rotateZ(144deg) rotateX(63.435deg);
          transform: rotateZ(144deg) rotateX(63.435deg);
}
.decahedron1.main .circle:nth-child(3) {
  -webkit-transform: rotateZ(216deg) rotateX(63.435deg);
          transform: rotateZ(216deg) rotateX(63.435deg);
}
.decahedron1.main .circle:nth-child(4) {
  -webkit-transform: rotateZ(288deg) rotateX(63.435deg);
          transform: rotateZ(288deg) rotateX(63.435deg);
}
.decahedron1.main .circle:nth-child(5) {
  -webkit-transform: rotateZ(360deg) rotateX(63.435deg);
          transform: rotateZ(360deg) rotateX(63.435deg);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
            transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
            transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}



.lpj-modal-wrap{
    position: absolute; top: 50%; left: 50%;
     width: 0px; height: 0px;
    z-index: 999993; 
    
    /*margin: 0 auto; min-height: 100vh; width: 100%;*/
    background: #00a9e0; overflow: hidden;
}
.lpj-modal-content{
    max-width: 900px; margin: 0 auto; color: #EEEEEE;
    padding: 50px 20px;
}


.lpj_modal_bg{
    z-index: 999991;
    position: absolute; width: 5px; height: 5px; overflow: hidden;
    background: #FFF; opacity: 0;
}
.lpj_modal_bg_1{
    top: 0px; left: 0px;
    background: #888888;
}
.lpj_modal_bg_2{
    top: 0px; right: 0px;
    
}
.lpj_modal_bg_3{
    bottom: 0px; left: 0px;
}
.lpj_modal_bg_4{
    bottom: 0px; right: 0px;
    background: #888888;
}

.close-lpjmodal2-btn{
  position: absolute; top: 0px; right: 0px;
  transform: translateX(0px) translateY(-30px);
  z-index: 999994; opacity: 0
}



@media (max-width: 400px) {
    html{
        overflow: hidden;
        width: 100%; height: 400px;
    }
    .item{
        width: 320px;
        margin-top: 40px;
    }

    .left_box{
        left: 15px;
    }

    .name_box{
        left: 16px;
        height: 175px;
    }

    .right-menu-wrap{
        width: 85px;
        right: 15px;
    }

    .right-menu a{
        padding: 15px 10px;
    }
    .right-menu a .icon{
        font-size: 32px;
    }
    .right-menu a .icon-title{
        font-size: 13px;
    }
}